nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(15, 15, 15, 0.13);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  color: white;
}

nav div {
  padding-right: 120px;
}

nav img {
  width: 180px;
  height: auto;
}

nav h1 {
  /* padding-left: 120px; */
  color: #ffffff;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: 60px;
  color: #898d92;
}
