.testimonialsSection {
  padding: 2rem;
  background-color: #141f24;
  color: #ffffff;
}

.title {
  font-size: 2rem;
  /* text-align: center; */
  margin-bottom: 2rem;
}

.testimonialsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #233942;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.text {
  font-size: 0.9rem;
  color: #dcdcdc;
  line-height: 1.5;
}
